# Virtual environment
venv311/

# IDE files
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

# TensorBoard logs
logs/

# Training datasets
dataset/
dataset_small/

# ZIP files
*.zip

# OS files
.DS_Store
Thumbs.db